HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Logs ###
*.log
/kafka/kafka-model/src/main/java/com/ysuturin/microservices/demo/kafka/avro/model/TwitterAvroModel.java

### Kafka cluster volumes mapping folders ###
/infrastructure/docker-compose/volumes/zookeeper/data/**
/infrastructure/docker-compose/volumes/zookeeper/transactions/**
/infrastructure/docker-compose/volumes/kafka/broker-1/**
/infrastructure/docker-compose/volumes/kafka/broker-2/**
/infrastructure/docker-compose/volumes/kafka/broker-3/**